[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"

[package]
name = "zeus"
version.workspace = true
edition.workspace = true

[dependencies]
zeus-arma = { path = "crates/arma" }
zeus-wavelet = { path = "crates/wavelet" }
